<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="//cdn.webrtc-experiment.com/getScreenId.js"></script>
    <script src="//cdn.webrtc-experiment.com/screen.js"></script>
    <script src="//cdn.webrtc-experiment.com/firebase.js"></script>
      <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="interactive.js"></script>
    <script src="interactivemin.js"></script>
    <script src="example.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!--<button id="share-screen">Compartir pantalla</button>-->
    <div id="drag-1" class="draggable">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Compartir Pantalla
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a id="share-screen" href="#">Mostrar pantalla</a></li>
          <li><a href="https://addons.mozilla.org/en-US/firefox/addon/enable-screen-capturing/">Descargar Firefox</a></li>
          <li><a href="https://chrome.google.com/webstore/detail/ajhifddimkapgcifgcodmmfdlknahffk">Descargar Chrome</a></li>
        </ul>
      </div>
    </div>
    <script>
        //Variable para conectar el socket
        var socket = io();

        var screen = new Screen('screen-unique-id'); // argument is optional

        // on getting local or remote streams
        screen.onaddstream = function(e) {
            if(document.getElementById('self')){
                var child = document.getElementById('self')
                document.body.removeChild(child);
            }
            document.body.appendChild(e.video);
        };

        // check pre-shared screens
        // it is useful to auto-view
        // or search pre-shared screens
        screen.check();

        document.getElementById('share-screen').onclick = function() {
            screen.share();
        };

        screen.userid = 'username';

        /*screen.openSignalingChannel = function(callback) {
            return io.connect().on('message', callback);
        };*/
        screen.openSignalingChannel = function(callback) {
            return socket.on('message', callback);
        };

        screen.onscreen = function(_screen) {
            var li = document.createElement('li');
            li.setAttribute('user-id', _screen.userid);
            li.setAttribute('room-id', _screen.roomid);
            li.onclick = function() {
                var _screen = {
                    userid: this.getAttribute('user-id'),
                    roomid: this.getAttribute('room-id')
                };
                screen.view(_screen);
            };
        };

    </script>
  </body>
</html>
