body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#drag-1, #drag-2 {
  width: 150px;
  height:35px;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
